version: "3.8"

services:
  php:
    container_name: tcsaas-php
    image: tcsaas/php-dev
    build:
      context: ./
      dockerfile: docker/php/Dockerfile
    environment:
      - DB_CONNECTION="mysql"
      - DB_HOST="db.service.tscaas"
      - DB_DATABASE="tcsaas"
      - DB_USERNAME="tcsaas"
      - DB_PASSWORD="AgiymP3Q1ZTPsH6d6t9NicvCgAzdi2gXITBqLGZ7EDUpq0U3bWdsoO7nxIjAO0dvSD4icvKgPz+A1dPTIfgOVA=="
      - REDIS_HOST="redis.service.tcsaas"
    ports:
      - target: 8000
        published: 8000
        protocol: tcp
        mode: host
    volumes:
      - ./:/tcsaas
    depends_on:
      - mysql
      - redis
    networks:
      mysql_access:
      redis_access:
        aliases:
          - php.service.tcsaas

  mysql: #Database Service with alias to tscass-db.service.tld
    container_name: tcsaas-db
    image: library/mysql:5.7.31
    command: mysqld --default-authentication-plugin=mysql_native_password
    environment:
      - TZ
      - MYSQL_ROOT_PASSWORD="lWfbiBqxPfrGfeKDi0M51TlIKvo+XOF40pDjWWZbJzSDSZnAJHbWa4e949d3fsIV/k9DFX5z1YgyIlX26s3KLr41h192j2eJPaVajJ2sCK6y/BrJqFYD4l2glzTRxNRA1ANY/RPJfoHmQuxyHJe4660Xmid2FkejLGo9g/Rtwps="
      - MYSQL_DATABASE="tcsaas"
      - MYSQL_USER="tcsaas"
      - MYSQL_PASSWORD="AgiymP3Q1ZTPsH6d6t9NicvCgAzdi2gXITBqLGZ7EDUpq0U3bWdsoO7nxIjAO0dvSD4icvKgPz+A1dPTIfgOVA=="
    ports:
      - target: 3306
        published: 3306
        protocol: tcp
        mode: host
    volumes:
      - ./docker/mysql/init:/docker-entrypoint-initdb.d
      - mysql_data:/var/lib/mysql
    networks:
      mysql_access:
        aliases:
          - db.service.tscaas
  redis:
    container_name: tcsaas-redis
    image: library/redis:alpine3.12
    ports:
      - target: 6379
        published: 6379
        protocol: tcp
        mode: host
    networks:
      redis_access:
        aliases:
          - cache.service.tcsaas

  websocket-server:
    container_name: tcsaas-laravel-echo
    image: tcsaas/echo-server
    build:
      context: ./
      dockerfile: docker/laravel-echo/Dockerfile
    environment:
      - LARAVEL_ECHO_SERVER_AUTH_HOST=php.service.tcsaas
      - LARAVEL_ECHO_SERVER_DEBUG=true
      - LARAVEL_ECHO_SERVER_REDIS_HOST=cache.service.tcsaas
    networks:
      redis_access:
        aliases:
          - websocket.service.tcsaas

volumes:
  mysql_data:

networks:
  mysql_access:
  redis_access:
